:root{
    --base-color: #004e7f;
    --text-color: white;
    --box-shadow-color: rgb(0, 0, 0, 0.7);
    --forgot-color: rgb(255, 0, 0);
    --register-color: blue;
}
body.darkmode{
    --base-color: #3D4459;
    --text-color: white;
    --box-shadow-color: rgb(0, 0, 0, 0.7);
    --forgot-color: rgb(255, 0, 0);
    --register-color: blue;
}
main{
    height: 70vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.wrapper{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    height: auto;
    width: 100%;
}

.infobox{
    background-color: var(--text-color);
    flex-direction: column;
    border: none;
    border-radius: 10px;
    width: 30%;
    height: 95%;
    padding: 10px 30px 20px 30px;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px var(--box-shadow-color);
}

.infobox.register{
    background-color: var(--text-color);
    flex-direction: column;
    border: none;
    border-radius: 10px;
    width: 30%;
    height: 100%;
    margin-top: 20px;
    padding: 10px 30px 15px 30px;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px var(--box-shadow-color);
}

.infobox h1 {
    text-align: center;
    font-size: 50px;
    color: var(--base-color);
}

.inputbox{
    position: relative;
    display: flex;
    border-bottom: 2px solid var(--base-color);
    width: 100%;
    height: 50px;
    color: var(--base-color);
}

.inputbox label {
    position: absolute;
    font-size: 20px;
    margin-bottom: 5px;
    top: 50%;
    left: 5px;
    font-size: 1.2em;
    transform: translateY(-50%);
    font-weight: 500;
    transition: 0.5s;
    pointer-events: none;
}

.inputbox input:focus~label,
.inputbox input:valid~label {
    top: +5px;
    font-size: 15px;
}

.infobox input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 18px;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--base-color);
}

.login-register{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonbox{
    display: flex;
    justify-content: center;
}
.buttonbox button{
    white-space: nowrap;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
}
.infobox button {
    position: relative;
    background-color: var(--base-color);
    border-radius: 10px;
    border: none;
    color: var(--text-color);
    padding: 12px 85px;
}

.infobox.register .infobox button {
    padding: 0px 0px;
}

.forgot_password {
    margin-top: 5px;
    text-align: right;
    
}

.forgot_password a {
    font-size: 12px;
    color: var(--forgot-color);
}

.login-register {
    justify-content: start;
    gap: 15px;
}
.login-register #Have-an-account {
    font-size: 14px;
    color: var(--base-color);
}
.login-register #signup-login {
    font-size: 14px;
    color: var(--register-color);
}
@media(max-width: 1000px){
    .infobox{
        width: 50%;
    }
    .infobox.register{
        width: 60%;
    }
}
@media(max-width: 768px){
    .infobox{
        width: 80%;
    }
    .infobox.register{
        width: 80%;
    }
}
@media(max-width: 500px){
    .infobox{
        width: 80%;
    }
}
@media(max-width: 320px){
    .infobox{
        width: 80%;
    }
}