:root{
    --base-color: #004e7f;
    --text-color: white;
    --box-shadow-color: rgb(0, 0, 0, 0.7);
    --start-color: rgb(0, 200, 7);
    --stop-color: rgb(255, 37, 37);
    --reset-color: rgb(37, 60, 176);

}
body.darkmode{
    --base-color: #3D4459;
    --text-color: white;
    --box-shadow-color: rgb(0, 0, 0, 0.7);
    --start-color: rgb(0, 134, 4);
    --stop-color: rgb(170, 0, 0);
    --reset-color: rgb(0, 29, 171);
}
.warpper-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.container{
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--text-color);
    gap: 2em;
    color: var(--base-color);
    border-radius: 10px;
    padding: 4em 3em;
    box-shadow: 3px 3px 10px var(--box-shadow-color);
}
h1{
    font-size: 3rem;
}
hr{
    width: 100%;
    background-color: var(--base-color);
    height: 3px;
    border-radius: 1em;
    border: none;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.timer{
    font-size: 7rem;
    font-weight: 900;
}
.button-wrapper{
    display: flex;
    gap: 1em;
}
.button{
    margin-top: 1em;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0.5em 1.5em;
    border-radius: 10px;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;
    background-color:  var(--base-color);
}
.button:hover{
    box-shadow: 2px 2px 5px var(--box-shadow-color);
    transform: translateY(-2px);
}
#start{
    background-color: var(--start-color);
}
#stop{
    background-color: var(--stop-color);
}
#reset{
    background-color: var(--reset-color);
}
@media(max-width: 768px){
    .timer{
        font-size: 5rem;
    }
    h1{
        font-size: 2rem;
    }
    .button{
        font-size: 1.5rem;
    }
}
@media(max-width: 500px){
    .timer{
        font-size: 3rem;
    }
    h1{
        font-size: 1.5rem;
    }
    .button{
        font-size: 1rem;
    }
    .container{
        padding: 2em 1.5em;
    }
}
@media(max-width: 320px){
    .container{
        padding: 2em 0.5em;
    }
    .timer{
        font-size: 3rem;
    }
    h1{
        font-size: 1.5rem;
    }
    .button{
        font-size: 1rem;
    }
}
